h1{
    font-size:60px;
    color:white;
}
body{
    background-repeat:no-repeat;
    background-size:cover;
    /* background-image:url("https://fsa.zobj.net/crop.php?r=lCk9kdaoRcYIzJeUmKgSD_f9UrZgM06qfFhm3ICQiiVJpJNbSjgZAbCijhguq3UXfMhBNakFHyNA5IysxwpTNRwYQQzqbBXFz0T-zsDP7UZafIjbi45Aule_4-GmUg4PxPyXmJfV4vjIQO25") */
}
p{
    font-size:40px;
    color:black;

}